<% if page.present? && page.path_name == 'yetai' %>
  庆锋祥业态新闻
<% elsif  page.present? && page.path_name == 'net' %>
  庆锋祥销售网络
<% elsif  page.present? && page.path_name == 'contact' %>
  联系我们
<% else %>
	<a href="/pages/jianjie">企业简介</a>
	<a href="/pages/wenhua">企业文化</a> 
	<a href="/pages/rongyu">企业荣誉</a> 
	<a href="/pages/zizhi">企业资质</a> 
	<a href="/pages/job">招贤纳士</a> 
<% end %>